WarehouseClient/Service References/ServiceReference1/WarehouseWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://ws.tier2" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://model.tier2" xmlns:impl="http://ws.tier2" targetNamespace="http://ws.tier2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://model.tier2">
      <xsd:import namespace="http://ws.tier2" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="Good">
        <xsd:sequence>
          <xsd:element name="goodid" type="xsd:int" />
          <xsd:element name="manufacturer" nillable="true" type="xsd:string" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Pallet">
        <xsd:sequence>
          <xsd:element name="count" type="xsd:int" />
          <xsd:element name="good" nillable="true" type="tns1:Good" />
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="pickStationId" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.tier2">
      <xsd:import namespace="http://model.tier2" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ArrayOf_tns1_Pallet">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:Pallet[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="retrievePalletsRequest">
    <wsdl:part name="good" type="tns1:Good" />
    <wsdl:part name="count" type="xsd:int" />
    <wsdl:part name="stationId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="insertPalletRequest">
    <wsdl:part name="pallet" type="tns1:Pallet" />
  </wsdl:message>
  <wsdl:message name="insertPalletResponse">
    <wsdl:part name="insertPalletReturn" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="retrievePalletsResponse">
    <wsdl:part name="retrievePalletsReturn" type="impl:ArrayOf_tns1_Pallet" />
  </wsdl:message>
  <wsdl:portType name="WarehouseWS">
    <wsdl:operation name="insertPallet" parameterOrder="pallet">
      <wsdl:input name="insertPalletRequest" message="impl:insertPalletRequest" />
      <wsdl:output name="insertPalletResponse" message="impl:insertPalletResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrievePallets" parameterOrder="good count stationId">
      <wsdl:input name="retrievePalletsRequest" message="impl:retrievePalletsRequest" />
      <wsdl:output name="retrievePalletsResponse" message="impl:retrievePalletsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WarehouseWSSoapBinding" type="impl:WarehouseWS">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="insertPallet">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="insertPalletRequest">
        <wsdlsoap:body use="encoded" namespace="http://ws.tier2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="insertPalletResponse">
        <wsdlsoap:body use="encoded" namespace="http://ws.tier2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrievePallets">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="retrievePalletsRequest">
        <wsdlsoap:body use="encoded" namespace="http://ws.tier2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="retrievePalletsResponse">
        <wsdlsoap:body use="encoded" namespace="http://ws.tier2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WarehouseWSService">
    <wsdl:port name="WarehouseWS" binding="impl:WarehouseWSSoapBinding">
      <wsdlsoap:address location="http://localhost:8080/WarehouseJysk/services/WarehouseWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>